################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/MacroProcessing/bin/Debug/netcoreapp2.0
